<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBj3hyAHl41zx_DX_GR4OSSron94FwJOFw</string>
	<key>GCM_SENDER_ID</key>
	<string>555797064785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codered</string>
	<key>PROJECT_ID</key>
	<string>socialmediaauth-a6c85</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaauth-a6c85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555797064785:ios:703b9a961928565efedc70</string>
</dict>
</plist>